* {
  font-family: "Hack Nerd Font";
  font-size: 12px;
  font-weight: 500;
  min-height: 0;
}

window#waybar {
  background-color: #1e1e1e;
  color: #b8bcb9;
}

/* Clock */
#clock {
  color: #b8bcb9;
  font-weight: 600;
  padding: 0 14px;
}

/* Right side modules */
#custom-screenshot,
#pulseaudio,
#backlight,
#network,
#battery,
#tray,
#custom-power {
  padding: 0 8px;
  color: #b8bcb9;
  background-color: transparent;
  font-size: 12px;
}

#custom-screenshot {
  color: #568ea3;
  font-size: 12px;
}

#custom-screenshot:hover {
  background-color: #292c31;
}

#pulseaudio {
  color: #b8bcb9;
  font-size: 12px;
}

#pulseaudio:hover {
  background-color: #292c31;
}

#pulseaudio.muted {
  color: #b8bcb9;
}

#backlight {
  color: #b8bcb9;
  font-size: 12px;
}

#network {
  color: #b8bcb9;
  font-size: 12px;
}

#network:hover {
  background-color: #292c31;
}

#network.disconnected {
  color: #be3e48;
}

#battery {
  color: #b8bcb9;
  font-size: 12px;
}

#battery.charging,
#battery.plugged {
  color: #869a3a;
}

#battery.warning:not(.charging) {
  color: #c4a535;
}

#battery.critical:not(.charging) {
  color: #fb001e;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

#tray {
  padding: 0 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#custom-power {
  color: #b8bcb9;
  font-size: 12px;
  padding: 0 12px;
}

#custom-power:hover {
  background-color: #292c31;
}

/* Media */
#custom-media {
  padding: 0 10px;
  font-size: 10px;
  color: #b8bcb9;
}

#custom-media.playing {
  color: #b8bcb9;
}

#custom-media.paused {
  color: #b8bcb9;
}

#custom-media.stopped {
  color: #b8bcb9;
}

/* Tooltips */
tooltip {
  background-color: #1e1e1e;
  border: 2px solid #3a3c43;
  border-radius: 4px;
}

tooltip label {
  color: #b8bcb9;
}

/* Calendar */
calendar {
  background-color: #1e1e1e;
  color: #b8bcb9;
  border: 2px solid #3a3c43;
  border-radius: 4px;
  padding: 8px;
}

calendar:selected {
  background-color: #292c31;
  color: #fcffb8;
  border-radius: 4px;
}

calendar:indeterminate {
  color: #888987;
}

calendar.header {
  background-color: #1e1e1e;
  color: #568ea3;
  font-weight: bold;
  border-bottom: 1px solid #3a3c43;
  padding: 4px;
}

calendar.button {
  background-color: transparent;
  color: #b8bcb9;
}

calendar.button:hover {
  background-color: #292c31;
}
