* {
  font-family: "CommitMono Nerd Font";
  font-size: 12px;
  font-weight: 500;
  min-height: 0;
}

window#waybar {
  background-color: #1e1e1f;
  color: #97959d;
}

#clock {
  color: #97959d;
  font-weight: 600;
  padding: 0 14px;
}

/* Right side modules */
#custom-screenshot,
#pulseaudio,
#backlight,
#network,
#battery,
#tray,
#bluetooth,
#workspaces button,
#custom-power {
  padding: 0 10px;
  color: #97959d;
  background-color: transparent;
  font-size: 12px;
}

#workspaces button {
  border-radius: 0;
  transition: none;
}

#workspaces button.focused {
  background-color: #2b2b2c;
}

#pulseaudio {
  color: #97959d;
  font-size: 12px;
}

#pulseaudio:hover {
  background-color: #2b2b2c;
}

#pulseaudio.muted {
  color: #6a686e;
}

#backlight {
  color: #97959d;
  font-size: 12px;
}

#network {
  color: #97959d;
  font-size: 12px;
}

#network:hover {
  background-color: #2b2b2c;
}

#network.disconnected {
  color: #a17efc;
}

#battery {
  color: #97959d;
  font-size: 12px;
}

#battery.charging,
#battery.plugged {
  color: #75bfff;
}

#battery.warning:not(.charging) {
  color: #97959d;
}

#battery.critical:not(.charging) {
  color: #a17efc;
  animation: blink 1s linear infinite;
}

#bluetooth:hover {
  background-color: #2b2b2c;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

#tray {
  padding: 0 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#custom-kdeconnect {
  padding: 0 10px;
  color: #97959d;
}

#custom-kdeconnect.connected {
  color: #75bfff;
}

#custom-kdeconnect.paired {
  color: #f9e2af;
}

#custom-kdeconnect.disconnected {
  color: #97959d; /* Red - no devices */
}

#custom-kdeconnect.error {
  color: #97959d; /* Orange - error */
}

#custom-power:hover {
  background-color: #2b2b2c;
}

/* Media */
#custom-media {
  padding: 0 8px;
  font-size: 10px;
  color: #97959d;
}

#custom-media.playing {
  color: #6a686e;
}

#custom-media.paused {
  color: #6a686e;
}

#custom-media.stopped {
  color: #5e5c60;
}

/* Tooltips */
tooltip {
  background-color: #1e1e1f;
  border: 2px solid #515053;
  border-radius: 4px;
}

tooltip label {
  color: #97959d;
}
