* {
  font-family: "Hack Nerd Font";
  font-size: 12px;
  font-weight: 500;
  min-height: 0;
}

window#waybar {
  background-color: #1e1e1f;
  color: #97959d;
}

/* Clock */
#clock {
  color: #97959d;
  font-weight: 600;
  padding: 0 14px;
}

/* Right side modules */
#custom-screenshot,
#pulseaudio,
#backlight,
#network,
#battery,
#tray,
#custom-power {
  padding: 0 8px;
  color: #97959d;
  background-color: transparent;
  font-size: 12px;
}

#custom-screenshot {
  color: #69b5f7;
  font-size: 12px;
}

#custom-screenshot:hover {
  background-color: #2b2b2c;
}

#pulseaudio {
  color: #97959d;
  font-size: 12px;
}

#pulseaudio:hover {
  background-color: #2b2b2c;
}

#pulseaudio.muted {
  color: #6a686e;
}

#backlight {
  color: #97959d;
  font-size: 12px;
}

#network {
  color: #97959d;
  font-size: 12px;
}

#network:hover {
  background-color: #2b2b2c;
}

#network.disconnected {
  color: #a17efc;
}

#battery {
  color: #97959d;
  font-size: 12px;
}

#battery.charging,
#battery.plugged {
  color: #75bfff;
}

#battery.warning:not(.charging) {
  color: #b3dbff;
}

#battery.critical:not(.charging) {
  color: #a17efc;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

#tray {
  padding: 0 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#custom-power {
  color: #97959d;
  font-size: 12px;
  padding: 0 12px;
}

#custom-power:hover {
  background-color: #2b2b2c;
}

/* Media */
#custom-media {
  padding: 0 10px;
  font-size: 10px;
  color: #97959d;
}

#custom-media.playing {
  color: #75bfff;
}

#custom-media.paused {
  color: #6a686e;
}

#custom-media.stopped {
  color: #5e5c60;
}

/* Tooltips */
tooltip {
  background-color: #1e1e1f;
  border: 2px solid #515053;
  border-radius: 4px;
}

tooltip label {
  color: #97959d;
}

/* Calendar */
calendar {
  background-color: #1e1e1f;
  color: #97959d;
  border: 2px solid #515053;
  border-radius: 4px;
  padding: 8px;
}

calendar:selected {
  background-color: #2b2b2c;
  color: #e5dbff;
  border-radius: 4px;
}

calendar:indeterminate {
  color: #6a686e;
}

calendar.header {
  background-color: #1e1e1f;
  color: #69b5f7;
  font-weight: bold;
  border-bottom: 1px solid #515053;
  padding: 4px;
}

calendar.button {
  background-color: transparent;
  color: #97959d;
}

calendar.button:hover {
  background-color: #2b2b2c;
}
