* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(30, 30, 30, 0.9);
}

button {
  color: #b8bcb9;
  background-color: #1e1e1e;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border-color: #888987;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

button:focus,
button:active,
button:hover {
  background-color: #292c31;
  outline-style: none;
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
