* {
  background-image: none;
  box-shadow: none;
  font-family: "CommitMono";
}

window {
  background-color: rgba(30, 30, 30, 0.9);
}

button {
  color: #b8bcb9;
  background-color: #2b2b2c;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border-color: #888987;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

button:focus,
button:active,
button:hover {
  background-color: #292c31;
  outline-style: none;
}

#lock {
  background-image: image(url("./icons/lock-pixel.png"));
}

#logout {
  background-image: image(url("./icons/logout-pixel.png"));
}

#suspend {
  background-image: image(url("./icons/pause-pixel.png"));
}

#hibernate {
  background-image: image(url("./icons/bed-pixel.png"));
}

#shutdown {
  background-image: image(url("./icons/shutdown-pixel.png"));
}

#reboot {
  background-image: image(url("./icons/reboot-pixel.png"));
}
